@model Site.Areas.Administrativa.Models.LoginModels
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Área de Registro</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/Content/Login/styles.css" rel="stylesheet" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <i class="fa fa-sign-in"></i>&nbsp;Acesso ao Sistema
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @using (Html.BeginForm("Autenticar", "Conta"))
                        {
                            @Html.ValidationSummary(true)

                            <div class="form-group col-lg-12 center-block">
                                <hr />
                                <h4 class="panel-title">
                                    <i class="fa fa-unlock-alt"></i>&nbsp;Login
                                </h4>
                                <br />
                                <div class="form-group col-lg-4">
                                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control input-lg", @placeholder = "Usuário", @maxlength = 50 })
                                    <div class="error">@Html.ValidationMessageFor(m => m.Login)</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 center-block">
                                <div class="form-group col-lg-4">
                                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control input-lg", @placeholder = "Senha", @Textmode = "Password", @maxlength = 8 })
                                    <div class="error">@Html.ValidationMessageFor(m => m.Senha)</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 center-block">
                                <div class="form-group col-lg-4" style=@ViewBag.Butons>
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Entrar" />
                                    <br />
                                    <div class="error">@ViewBag.Mensagem</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
