@model Site.Areas.Administrativa.Models.LoginModels
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Millenium Pesquisas</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/Content/Login/styles.css" rel="stylesheet" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    @*<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- font Awesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- main site -->

    <section class="main-site">

        <div class="cnt-top">
            <h1>MILLENIUM PESQUISAS</h1>
        </div>

        <div class="cnt-topo">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item border-radius-left" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">A Empresa</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-service-tab" data-bs-toggle="pill" data-bs-target="#pills-service" type="button" role="tab" aria-controls="pills-service" aria-selected="false">Serviços</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contato</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="false">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="cnt-conteudo">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <h2>
                                        <span>Soluções</span> para atender a qualquer <span>necessidade do seu negócio</span>
                                    </h2>
                                </div>
                                <div class="col-12 col-md-8">

                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="box-servico">
                                                <img src="~/img/ico/ico-pesquisa-social.png" /><br /><br />
                                                <span>Pesquisa Social</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="box-servico">
                                                <img src="~/img/ico/ico-pesquisa-financeira.png" /><br /><br />
                                                <span>Pesquisa Financeira</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pt-4">
                                        <div class="col-12 col-md-6">
                                            <div class="box-servico">
                                                <img src="~/img/ico/ico-pesquisa-veiculos.png" /><br /><br />
                                                <span>Pesquisa de Veículos</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="box-servico">
                                                <img src="~/img/ico/ico-pesquisa-cnh.png" /><br /><br />
                                                <span>Pesquisa de CNH</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="cnt-whats">
                                        <a href="https://wa.me/5521991078726" target="_blank"><img src="~/img/ico/ico-whatsapp.png" /> Clique aqui e fale conosco!</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <h3>Confira mais pesquisas na área de serviços</h3>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <img src="~/img/millenium-logo-sembg.png" class="logo" />
                                </div>
                                <div class="col-12 col-md-9">
                                    <h4>A Empresa</h4>
                                    <h1>
                                        MILLENIUM<br />
                                        <span>QUEM SOMOS</span>
                                    </h1>
                                    <p>
                                        A Millenium Pesquisas e Informações Cadastrais, iniciou suas atividades em 1999 com o propósito de oferecer o melhor em Informações Cadastrais de Pessoas Físicas e Jurídicas em todo Território Nacional. Nossos diferenciais são;  atendimento com segurança nas informações, agilidade nas respostas e qualidade nos serviços.
                                        <br /><br />
                                        Nossa equipe, composta de profissionais oriundos das Áreas de Segurança e Recursos Humanos, estão capacitados para esclarecer ponto a ponto nas respostas das pesquisas quando necessário.
                                        <br /><br />
                                        As parcerias da Millenium Pesquisas são duradouras porque sempre procuramos corresponder às expectativas dos clientes/parceiros.
                                        <br /><br />
                                        Você pode confiar na Millenium Pesquisas porque trabalha para sua satisfação e confiança.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h1>Serviços</h1>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-12 pt-3">
                                    <h4>Pesquisa Social</h4>
                                    <p>
                                        Pesquisa Antecedentes Criminais em Âmbito Nacional e Estadual;
                                    </p>
                                    <h4>Pesquisa Financeira</h4>
                                    <p>
                                        Pesquisa  SPC-Serasa, Cheques sem Fundos, Títulos Protestados, entre outras restrições financeiras e bancárias
                                    </p>
                                    <h4>Pesquisa Profissional</h4>
                                    <p>
                                        Confirma os vínculos empregatícios anteriores com Recursos Humanos e Gestores do pesquisado;
                                    </p>
                                    <h4>Confirmação de Atestado Médico</h4>
                                    <p>
                                        Pesquisamos a veracidade das informações contidas no mesmo junto a unidade de atendimento;
                                    </p>
                                    <h4>Pesquisa Cível</h4>
                                    <p>
                                        Levantamento processual nos Fóruns, fornecendo dados sobre processos instaurados;
                                    </p>
                                    <h4>Pesquisa de CNH</h4>
                                    <p>
                                        Levantamento das informações junto ao DENATRAN sobre CNH, categoria, validade, situação/pontuação e demais dados;
                                    </p>
                                    <h4>Pesquisa de Veículos</h4>
                                    <p>
                                        Pesquisamos junto ao Denatran os dados do veículo, proprietário, notificações de roubo e furto, Renavam, marca/modelo/ano;
                                    </p>
                                    <h4>Pesquisa de Reputação de Mídia</h4>
                                    <p>
                                        Pesquisamos nos veículos de mídias digitais notícias em que a pessoa informada possa ter aparecido.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <h1>Contato</h1>
                                    <form>
                                        <div class="mb-3">
                                            <label for="formControlInput1" class="form-label">Nome</label>
                                            <input type="text" class="form-control" id="formControlInput1">
                                        </div>
                                        <div class="mb-3">
                                            <label for="formControlInput2" class="form-label">E-mail</label>
                                            <input type="text" class="form-control" id="formControlInput2">
                                        </div>
                                        <div class="mb-3">
                                            <label for="formControlInput3" class="form-label">Assunto</label>
                                            <input type="text" class="form-control" id="formControlInput3">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <button type="button" class="btn btn-primary">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
                            <div class="row">

                                <div class="col-12 col-md-12">
                                    <h4 class="panel-title">
                                        <i class="fa fa-sign-in"></i>&nbsp;Acesso ao Sistema
                                    </h4>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="panel-body">
                                        @using (Html.BeginForm("Autenticar", "Conta"))
                                        {
                                            @Html.ValidationSummary(true)

                                            <div class="form-group col-lg-12 center-block">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-unlock-alt"></i>&nbsp;Login
                                                </h4>
                                                <br />
                                                <div class="form-group" style="padding-bottom: 20px;">
                                                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control input-lg", @placeholder = "Usuário", @maxlength = 50 })
                                                    <div class="error">@Html.ValidationMessageFor(m => m.Login)</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12 center-block">
                                                <div class="form-group" style="padding-bottom: 20px;">
                                                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control input-lg", @placeholder = "Senha", @Textmode = "Password", @maxlength = 8 })
                                                    <div class="error">@Html.ValidationMessageFor(m => m.Senha)</div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12 center-block" style="padding-bottom: 20px;">
                                                <div class="form-group" style=@ViewBag.Butons>
                                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Acessar" />
                                                    <br />
                                                    <div class="error">@ViewBag.Mensagem</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="cnt-copyright">
            ©2024 Millenium Pesquisas - Todos os direitos reservados.
        </div>

    </section>

    <!-- fim main site -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
