@using Millenium.Util
@model Site.Areas.Cadastro.Models.EnderecoViewModel

@Html.HiddenFor(m => m.Endereco.IdEndereco)

<div class="form-group has-error col-lg-12">
    <label>Endereço</label>
    @Html.TextBoxFor(m => m.Endereco.Logradouro, new { @class = "form-control", @maxlength = 500, onkeyup = "this.value = this.value.toUpperCase();" }).RequiredIf(() => Model.Valida).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group has-error col-lg-3">
    <label>Número</label>
    @Html.TextBoxFor(m => m.Endereco.Numero, new { @class = "form-control", @maxlength = 20, onkeyup = "this.value = this.value.toUpperCase();" }).RequiredIf(() => Model.Valida).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group col-lg-5">
    <label>Complemento</label>
    @Html.TextBoxFor(m => m.Endereco.Complemento, new { @class = "form-control", @maxlength = 50, onkeyup = "this.value = this.value.toUpperCase();" }).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group has-error col-lg-4">
    <label>Cep</label>
    @Html.TextBoxFor(m => m.Endereco.Cep, new { @class = "form-control", @maxlength = 9, onkeyup = "formataCEP(event);" }).RequiredIf(() => Model.Valida).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group has-error col-lg-4">
    <label>Bairro</label>
    @Html.TextBoxFor(m => m.DescricaoBairro, new { @class = "form-control", @maxlength = 100, onkeyup = "this.value = this.value.toUpperCase();" }).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group has-error col-lg-4">
    <label>Cidade</label>
    @Html.TextBoxFor(m => m.Endereco.Cidade, new { @class = "form-control", @maxlength = 100, onkeyup = "this.value = this.value.toUpperCase();" }).RequiredIf(() => Model.Valida).DisableIf(() => Model.Desabilita)
</div>
<div class="form-group has-error col-lg-2">
    <label>UF</label>
    @Html.TextBoxFor(m => m.Endereco.Estado, new { @class = "form-control", @maxlength = 2, onkeyup = "this.value = this.value.toUpperCase();" }).RequiredIf(() => Model.Valida).DisableIf(() => Model.Desabilita)
</div>
